<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NETTRASH.BTC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NETTRASH.BTC.Properties.Settings>
            <setting name="BTCTRXUrl" serializeAs="String">
                <value>https://blockchain.info/rawtx/</value>
            </setting>
            <setting name="BlockchainInfoTickerURL" serializeAs="String">
                <value>https://blockchain.info/ru/ticker</value>
            </setting>
            <setting name="BittrexRateUrl" serializeAs="String">
                <value>https://bittrex.com/api/v1.1/public/getticker?market=</value>
            </setting>
            <setting name="BTCEAPIUrl" serializeAs="String">
                <value>https://btc-e.com/api/3/ticker/btc_rur-btc_usd-btc_eur</value>
            </setting>
            <setting name="COINMARKETCAPAPIUrl" serializeAs="String">
                <value>https://api.coinmarketcap.com/v1/ticker/bitcoin/?convert=RUB</value>
            </setting>
            <setting name="EXMOAPIURL" serializeAs="String">
                <value>https://api.exmo.com/v1/ticker/</value>
            </setting>
            <setting name="RPCHost" serializeAs="String">
                <value>192.168.1.3</value>
            </setting>
            <setting name="RPCPort" serializeAs="String">
                <value>8332</value>
            </setting>
            <setting name="RPCUser" serializeAs="String">
                <value>prodBtcH003</value>
            </setting>
            <setting name="RPCPassword" serializeAs="String">
                <value>fCjIMuS1bUgT</value>
            </setting>
            <setting name="CoinbaseUrl" serializeAs="String">
                <value>https://api.coinbase.com/v2/exchange-rates?currency=BTC</value>
            </setting>
        </NETTRASH.BTC.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>